/* VARIABLES */

/* FUENTES */
$fuente-principal: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
/* PALETA */
$color-learning: #38C4C1;
$color-philosophy: #FECA02;
$color-practice: #FE7EC9;
$color-games: #488DF4;
